/* || Global CSS */
:root {
    --site-grey: #53575B;
    --site-blue: #157493;
    --site-dark-blue:#006184;
    --site-black: #212225;
    --site-light-blue: #63B1D7;
    --site-white: #fff;
}

body {
    max-width: 1100px;
    /* align-items: center; */
    text-align: center;
    margin: auto;
    font-family: 'Lato', sans-serif;
}
/* main h1, h2, h3, h4 {
    color: (var(--site-white));
} */





/* || Header */
header{
    display: grid;
    grid-template-columns: .5fr 2fr .5fr 1fr;
    color: var(--site-white);
    background-color: var(--site-blue);
    /* padding-top: 10px; */
}

header img {
    max-width: 120px;
    /* margin: auto; */
}
#social-links {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* gap: 5px; */
    max-width: 20px;
    margin: 10px;
    /* padding: 1em; */
}
.fa {
    padding: .7em;
    width: 20px;
    height: 20px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    border: solid 1px var(--site-grey);
    margin: auto;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
.fa-instagram {
    background: #007bb5;
    color: white;
  }




/* || Nav */
nav {
    margin: 0 auto;
    /* max-width: 760px; */
    font-family: lato, sans-serif;
    width: 100%;
    grid-column: 1/5;
    /* justify-content: center; */
    text-align: center;
    background-color: rgba(61, 61, 61, 0.4)
    /* background-color: var(--site-light-blue); */
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* width: 90%; */
}
#hamburgerBtn {
    margin: 0.2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    align-content: flex-end;
}
.active {
    /* color: var(--highlight-color); */
    /* text-shadow: 0.1em 0.1em .75em #c8fff8; */
    background-color: rgba(156, 156, 156, 0.807);
}
nav ul li a {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
}
nav ul li a:hover {
    background-color: rgba(182, 182, 182, 0.3);
}
nav ul {
    display: none;
    /* background-color: rgba(182, 182, 182, 0.1); */
}

nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}

.first {
    display:block;
    display:inline-block;
}
.subnav {
    visibility: hidden;
}
.subnav:hover {
    visibility: visible;
}
  



/* || Footer */
footer{
    color: var(--site-white);
    background-color: var(--site-blue);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
    /* align-items: center; */
    /* text-align: center; */
    /* justify-content: center; */
}
#footer-top {
    /* display: grid; */
    /* grid-template-columns: 1fr; */
}
footer hr{
    width: 100%;
}
footer img {
    justify-self: center;
}
footer iframe{
    max-width: 70%;
    /* max-height: 50%; */
    /* align-self: center; */
    /* text-align: center; */
    /* justify-content: center; */
    justify-self: center;
}


/* || ========== Pages ========== */
main h2, h3, h4 {
    color: var(--site-white);
}

/* || Index Main */

.call-to-action {
    background-image: url(../images/big-sky.webp);
    background-size: cover;
    background-position: center;
    height: 300px;
}
.call-to-action-text {
    margin: 3em;
    align-self: center;
    position: absolute;
    padding: 10px;
    padding-bottom: 2em;
    background-color: var(--site-light-blue);
    border: 1px solid var(--site-grey);
    border-radius: 4px;
}

.action-button {
    background-color: var(--site-white);
    text-decoration: none;
    padding: .7em;
    /* padding-left: 1em;
    padding-right: 1em; */
    margin: 2.5em;
    color: var(--site-dark-blue);
    border: 1px solid var(--site-grey);
    /* width: 50%; */
    /* margin-bottom: 3em; */
    border-radius: 25px;
}
.temple-highlight-text {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.temple-highlight img {
    width: 300px;
}

.weather-forecast div{
    border: 1px solid var(--site-grey);
    margin: 1em;
    border-radius: 4px;
}

.blue-box {
    margin: 1em;
    padding: 1em;
    border: 1px solid var(--site-grey);
    background-color: var(--site-light-blue);
    border-radius: 4px;
}
main h2, h3, h4 {
    color: var(--site-white);
}

/* || Temples Main */
.temple-card {
    margin: 1em;
    padding: 1em;
    border: 1px solid var(--site-grey);
    background-color: var(--site-light-blue);
    border-radius: 4px;
    color: var(--site-white);
}

.temple-card img {
    max-width: 90%;
    /* border: 1px solid var(--site-grey); */
    box-shadow: 5px 5px 7px var(--site-black);
    margin: 1em;
}

.dropbtn {
    /* color: var(--site-light-blue); */
    background-color: var(--site-blue);
    padding: 16px;
    font-size: 16px;
    border: none;
    margin: 1em;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f1f1f1; */
    background-color: var(--site-grey);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1em;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}



/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
/* .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
  } */

/* .flip-card img {
    width: 300px;
} */
  
  /* This container is needed to position the front and back side */
  /* .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  } */
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */
  
  /* Position the front and back side */
  /* .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  } */
  
  /* Style the front side (fallback if image is missing) */
  /* .flip-card-front {
    background-color: #bbb;
    color: black;
  } */
  
  /* Style the back side */
  /* .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  } */