/* || Global CSS */
:root {
    --site-grey: #53575B;
    --site-blue: #157493;
    --site-dark-blue:#006184;
    --site-black: #212225;
    --site-light-blue: #63B1D7;
    --site-white: #fff;
}

body {
    max-width: 1100px;
    /* align-items: center; */
    text-align: center;
    margin: auto;
    font-family: 'Lato', sans-serif;
}





/* || Header */
header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    color: var(--site-white);
    background-color: var(--site-blue);
    /* gap: 0.8rem; */
}


/* #social-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    max-width: 20px;
}
.fa {
    padding: .7em;
    width: 20px;
    height: 20px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    margin: auto;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
.fa-instagram {
    background: #007bb5;
    color: white;
  } */




/* || Nav */



/* .navbar {
    overflow: hidden;
    background-color: #333; 
  } */
  /* .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  /* .subnav {
    float: left;
    overflow: hidden;
  } */
  /* .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  } */
  
  /* .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
  } */
  
  /* .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
  } */
  
  /* .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  } */
  
  /* .subnav-content a:hover {
    background-color: #eee;
    color: black;
  } */
  
  /* .subnav:hover .subnav-content {
    display: block;
  } */

/* || ========== Pages ========== */

/* || Index Main */
/* || Footer */
footer{
    color: var(--site-white);
    background-color: var(--site-blue);
}